<mat-toolbar class="navbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span><img style="cursor: pointer;" src="../../../assets/img/amashon-logo.png"></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
</mat-toolbar>
<app-sidebar [isOpen]="isOpenMenu" (menuChanged)="menuChanged($event)"></app-sidebar>