/* MOBILE and down */
@media only screen and (max-width:480px) {
    .product-container {
        width: 95%;
    }
  }

  /* TABLET and up */
  @media only screen and (min-width: 768px) {
    .logo {
        height: auto;
        width: 300px !important;
    }
  }

.product-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.product-container {
    margin-bottom: 50px;
    width: 95%;
}
