<!--======= NavBar =======-->
<mat-toolbar class="navbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="flex-center"><img (click)="goHome()" class="logo" src="../../../assets/img/amashon-logo.png" style="cursor: pointer;"></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
</mat-toolbar>

<!--======= Sidebar menu =======-->
<ng-sidebar-container style="width: 100%;">
    <ng-sidebar [opened]="isOpen" style="width: 300px;">
        <p>Options</p>
        <button (click)="toggleMenu()">
            cerrar
        </button>
    </ng-sidebar>
    <div ng-sidebar-content style="width: 100% !important; height: 100%;">
        <!--======= Router oulet =======-->
        <router-outlet></router-outlet>
    </div>
</ng-sidebar-container>
