<div class="product-main" fxLayout="column" >
    <mat-card class="product-container">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-button [matMenuTriggerFor]="menu">Countries</button>
            <mat-menu #menu="matMenu">
                <button *ngFor="let country of countries" mat-menu-item (click)="filterByCountry(country.descriptionEN)">
                    <span>{{ country.descriptionEN }}</span>
                </button>
                <button mat-menu-item (click)="filterByCountry('ALL')">
                    <span>ALL</span>
                </button>
            </mat-menu>
            <mat-form-field>
                <input matInput name="searchControl" type='text' class="form-control" [(placeholder)]='placeHolder' (change)="updateFilterChange($event)" (keyup)='updateFilter($event)'
                [(ngModel)]="search"/>
                <mat-icon matTooltip="Search" data-toggle="tooltip" matTooltipPosition="above" (click)='searching()' class="searchButton"
                  matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <mat-card-content fxLayout="row wrap">
            <div *ngFor="let product of products" fxLayoutAlign="center center" fxFlex.gt-lg="33.33" fxFlex.gt-md="33.33" fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </mat-card-content>
        <div class="horizontal-scroll">
            <div *ngFor="let category of categories" class="horizontal-child">
                <div class="circle">
                    <h3>{{ category.descriptionEN }}</h3>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<br>
