/* MOBILE and down */
@media only screen and (max-width:480px) {
    .product-container {
        margin-top: 980px;
        width: 95%;
    }
  }

  /* TABLET and up */
  @media only screen and (min-width: 768px) {
    .logo {
        height: auto;
        width: 300px !important;
    }
  }

.product-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.product-container {
    width: 95%;
    margin: 15px;
    margin-bottom: 64px;
}

.horizontal-scroll {
    overflow: auto;
    white-space: nowrap;
}

.horizontal-child {
    display: inline-block;
  color: white;
  text-align: center;
  padding: 0px 70px 0px 70px;
  text-decoration: none;
}

.circle {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background: #3f96cd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0px auto;
    padding:3%
}
