/* MOBILE and down */
@media only screen and (max-width:480px) {
    .product-container {
        margin-top: 980px;
        width: 95%;
    }
  }

  /* TABLET and up */
  @media only screen and (min-width: 768px) {
    .logo {
        height: auto;
        width: 300px !important;
    }
  }

.product-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.product-container {
    width: 95%;
    margin: 15px;
    margin-bottom: 64px;
}
